.dont-show {
  display: none;
}

.chat-container {
  font-family: "Helvetica Neue";
  border-radius: 3px;
  border: 1px solid #ededed;
  width: 400px;
  background-color: #FFF;
  position: fixed;
  right: 0px;
  bottom: 0px;

  .chat-title {
    cursor: pointer;
    height: 35px;
    line-height: 35px;
    padding-left: 15px;
    color: #FFF;
    &.light {
      background-color: #85a0fa;
    }
    &.dark {
      background-color: #888;
      color: #f0f8ff;
    }
  }

  .chat-window {
    height: 300px;
    position: relative;

    .chat-box {
      position: absolute;
      bottom: 50px;
      overflow: auto;
      max-height: 265px;

      .chat-line {
        display: block;
        word-wrap: break-word;
        max-width: 70%;
        margin: 5px 2px 0 2px;
        padding: 5px 10px 5px 10px;

        &.bot-line {
          text-align: left;
          float: left;
          background-color: #ededed;
          border-radius: 15px 15px 15px 0px;
          clear: both;
        }

        &.user-line {
          text-align: right;
          float: right;
          background-color: #e1e1e1;
          border-radius: 15px 15px 0px 15px;
          clear: both;
        }
      }
    }

    .chat-input-box {
      text-align: center;
      margin-top: 5px;
      position: absolute;
      height: 30px;
      bottom: 0;
      width: 100%;

      .chat-input {
        width: 100%;
        height: 30px;
        font-size: 12px;
        outline-style: none;
        outline-color: transparent;
      }
    }
  }
}

.straightBorder {
  border-radius: 0;
}

.chat-clearBoth {
  clear: both;
}
